.navbar.navbar-fixed
  .navbar-inner
    .container
      = link_to 'OGApg', root_path ,class: 'brand'

      %ul.nav
        %li#promos_link= link_to 'Promociones', '/promos'
        %li#shipments_link= link_to 'Envios', '/shipments'
        %li#contact_link= link_to 'Contacto', '/contact'

      %ul.nav.pull-right
        %li= link_to 'Facebook'
        %li= link_to 'Twitter'
        %li= link_to "Admin: #{current_admin.name}", '#' if admin_signed_in? 
