<h2>Hola soy un form</h2>
<p>Para crear nuevos productos</p>

<%= form_for (@product), :html => {:multipart => true} do |f| %>  
<% if @product.errors.any? %>
<div class="alert alert-error" id="error_explanation">
  <p><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</p>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  
<div class="row-fluid"  style="border-bottom: 1px solid #E5E5E5;">
  <div class="span4">
    <%= content_tag :legend, 'Datos Básicos' %>
  
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name %>
    
    <%= f.label :category, 'Categoría' %>
    <%= f.select :category, Product::CATEGORIES %>
    
    <%= f.label :description, 'Descripción' %>
    <%= f.text_field :description %>
    
    <%= f.label :image, 'Imagen' %>
    <% if @product.image.file %>
      <%= file_uploader 'product[image]', @product.image %>
      <%else%>
      <%= file_uploader 'product[image]' %>
    <%end%>
  </div>
  
  <div class="span4">
    <%= content_tag :legend, 'Precio' %>
    
    <p><a class="btn btn-block" data-toggle="modal" href="#price_fields" >Agregar precio</a></p>
    <p>Precios por cantidad. Para precio base, cree una entrada <em><strong>(cantidad: 1, monto: X)</strong></em>.</p>
    
    <table id="prices_table" class='table span8 hide'>
      <thead>
        <th>Cantidad</th>
        <th>Monto ($)</th>
        <th></th>
      </thead>
      
      <tbody>
      </tbody>
    </table>
    
    <br />
  
    <div class="span2 modal hide fade" id="price_fields">
      <div class="modal-header">
        <button id="cancel" type="button" class="close" data-dismiss="modal">×</button>
        <h3>Agregar precio</h3>
      </div>
      <div class="modal-body">
        <%= label_tag  :quantity, 'Cantidad' %>
        <%= input_prepend '/c', (text_field_tag :quantity, nil, :name => nil, :class => 'span8') %>
        
        <%= label_tag :amount, 'Monto' %>
        <%= input_prepend '$', (text_field_tag :amount, nil, :name => nil, :class => 'span8') %>
      </div>
      <div class="modal-footer">
        <a href="#price_fields" data-toggle="modal" id="cancel" class="btn">Cancelar</a>
        <a href="#" id="add_price" class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <%= content_tag :legend, 'Propiedades' %>
     
    <p><a class="btn btn-block" data-toggle="modal" href="#property_fields" >Agregar propiedad</a></p>
    <p>Detalles acerca del producto, en formato 'nombre => valor'.</p>
    <table id="properties_table" class='table hide'>
      <thead>
        <th>Nombre</th>
        <th>Valor</th>
        <th></th>
      </thead>
      
      <tbody>
      </tbody>
    </table>
    
    <br />
  
    <div class="span2 modal hide fade" id="property_fields">
      <div class="modal-header">
        <button id="cancel" type="button" class="close" data-dismiss="modal">×</button>
        <h3>Agregar precio</h3>
      </div>
      <div class="modal-body">
        <%= label_tag  :name, 'Nombre ' %>
        <%= text_field_tag :name, nil, :name => nil, :class => 'span8' %>
        
        <%= label_tag :value, 'Valor' %>
        <%= text_field_tag :value, nil, :name => nil, :class => 'span8' %>
      </div>
      <div class="modal-footer">
        <a href="#property_fields" data-toggle="modal" id="cancel" class="btn">Cancelar</a>
        <a href="#" id="add_property" class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
  
</div>
  
  <br/>
  
  <%= f.submit 'Crear', :class => 'btn' %>

 <% end %>
 
 <script>
  $(function(){
    <% @product.prices.each do |price| %>
    window.add_price('<%= price.quantity %>', '<%= price.amount %>', '<%= price.id %>'); 
    <%end%>
    <% @product.properties.each do |ppty| %>
    window.add_property('<%= ppty.name %>', '<%= ppty.value %>', '<%= ppty.id %>'); 
    <%end%>    
  });
 </script>