!!!
%html
  %head
    %title //OGApg//
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if Ogapg::Application.assets.find_asset("#{controller_name}/#{action_name}.js")
      = javascript_include_tag "#{controller_name}/#{action_name}"
    = csrf_meta_tags
  %body
    .wrapper
      = render 'snippets/navbar'

      .container-fluid.squeeze
        .row-fluid
          .span3
            %ul.nav.nav-tabs.nav-stacked
              %li= link_to 'Productos', products_path
              %li= link_to 'Política de envíos'
              %li= link_to 'Acerca de las promociones'
          .span9= render 'snippets/carousel'
      
      .container-fluid.squeeze
        = render 'snippets/alerts' 
        = yield
      
    .footer
      .pull-right
        = render 'snippets/session_links'